<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.ccojocea.javaquiz">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_justlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_justlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Splash screen -->
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name=".MainActivity">
        </activity>

        <!--About activity-->
        <activity
            android:name=".AboutActivity">
        </activity>
    </application>

</manifest>